@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

.videos {

    background-color: rgb(41, 41, 41);
    width: 100vw;
    height: calc(100vh - 50px);
    display: grid;
    float: left;
}

video {
    display: block;
    height: 100%;
    width: 100%;
}

.video {
    display: block;
    height: 100%;
    width: 100%;
    min-height: max-content;
    background-color: rgb(30, 30, 30);
}

.video.disabled video {
    display: none;
}

.video .avatar {
    display: none;

}


.video.disabled .avatar {
    height: 100%;
    width: 100%;
    display: flex; /* new */
    align-items: center; /* new */
    justify-content: center; /* new */
    flex-direction: column;
}

.avatar svg {
    width: 40%;
}
.avatar p{
    font-weight: 700;
}
.local-video, .remote-video {
    position: relative;
}

#pinned-video {
    width: 70vw;
    height: 100vh;
    display: none;
    float: left;
    background-color: rgb(30, 30, 30);

}

.reduced {
    width: 30vw;
}

.remote-inputs-statuses {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
}

.button {
    display: block;
    cursor: pointer;
    /*flex: 1 1 auto;*/
    /*width: 50%;*/
    /*text-align: center;*/
    /*padding: 10px;*/
    /*box-sizing: border-box;*/
    /*opacity: 0.30;*/
    color: black;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin: auto
}

.remote-input-status {
    flex: 1 1 auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: #9e372c;
    opacity: 0.7;
    display: none !important;
}

.status-disabled {
    display: block !important;
}


.button:hover {
    color: #CCC;
    opacity: 1;
}

.fullscreen {
    z-index: -100;
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
}

#bottom-bar {
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: white;
    height: 50px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: large;
    display: flex;
}

#bottom-bar > * {
    flex: auto 1 1;
}

#bottom-bar .center {
    text-align: center;
}

#bottom-bar .right {
    text-align: right;
}

.right .controls {
    float: right;
    margin-right: 10px;
}

.left .controls {
    float: left;
    margin-left: 10px;
}


#parameters-modal {
    display: none;
    position: fixed;
    z-index: 20;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 220px;
    width: 300px;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#parameters-modal h2 {
    text-align: center;
}

#close-parameters-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


#parameters-button {
    cursor: pointer;
    margin-left: auto;
}

.input-selection-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 15px;
}

.input-selection-wrapper select {
    width: 200px;
    margin-top: 5px;
    height: 30px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}