body {
    margin: 0;
    overflow: hidden;
}

.videos {

    background-color: rgb(41, 41, 41);
    width: 100vw;
    height: 100vh;
    display: grid;
}

video {
    display: block;
    height: 100%;
    width: 100%;
}

.video {
    display: block;
    height: 100%;
    width: 100%;
    min-width: 0;
    background-color: rgb(30, 30, 30);
}


.local-video, .remote-video {
    position: relative;
}

.remote-inputs-statuses {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
}

.button {
    display: block;
    cursor: pointer;
    /*flex: 1 1 auto;*/
    /*width: 50%;*/
    /*text-align: center;*/
    /*padding: 10px;*/
    /*box-sizing: border-box;*/
    /*opacity: 0.30;*/
    color: black;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 70px;
}
.remote-input-status {
    flex: 1 1 auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: #9e372c;
    opacity: 0.7;
    display: none !important;
}

.status-disabled {
    display: block !important;
}


.button:hover {
    color: #CCC;
    opacity: 1;
}

.fullscreen {
    z-index: -100;
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
}

#bottom-bar {
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: white;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
}