@import 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';

@import "variables/_colors";

html {
  background-color: #383838;

}

html, body {
  margin: 0px;
  padding: 0px;

}


.peer {
  height: 100%;
  width: 100%;
  position: relative;
  min-height: max-content;
  box-sizing: border-box;

  .audio-indicator {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #9e372c;
    opacity: 0.5;
    font-size: 1.5em;
  }

  .audio-indicator-disabled {
    display: none;
  }

  .avatar-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .portrait {
      border-radius: 100%;
      overflow: hidden;

      svg {
        color: black;
      }
    }

    .title {
      font-size: 1.5em;
      text-align: center;
      margin-top: 10px;
      font-family: 'Open Sans', sans-serif;
    }

    svg {
      path {
        box-shadow: inset 3px 3px 10px 1px black;
      }
    }
  }


  .screen {
    display: none;

  }

  .video {
    width: 100%;
    height: 100%;
    z-index: 1;

  }

  &.screen-share {
    position: relative;

    .screen {
      display: block;
      width: 100%;
      height: 100%;

    }

    .video {
      width: 10%;
      height: 10%;
      bottom: 0;
      right: 0;
      position: absolute;

      &:hover {
        opacity: 0.1;
      }

    }
  }
}


.peer-list {

  display: grid;
  height: 100vh;
  width: 100vw;

  .controls {
    background: $primary-color;

    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 10px;
    width: 100%;
    max-width: 180px;
    margin: 10px auto;
    overflow: hidden;
    display: grid;
    z-index: 20;
    cursor: pointer;

    grid-template-columns: repeat(3, 1fr);
  }

  &.focus-layout {
    .controls {
      position: static;
    }

    display: flex;
    flex-direction: column;
    width: 200px;

    .peer {
      height: auto;

      .avatar-placeholder {
        position: absolute;
        width: 100px;
        height: 100px;
        line-height: 100px;
        z-index: -1;
        transform: translate(0%, 0%);

        .portrait{
          margin: auto;
          width: 50px;
          height: 50px;
        }
        .title {
          font-size: 10%;
        }
      }
    }
  }

}

.scene {
  display: none;
  width: calc(100vw - 200px);
  padding: 0px;
  height: 100vh;
  float: left;

}


.button {
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.active {
    background: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:active {
    background: rgba(0, 0, 0, 0.2);
  }
}